<h2 class="text-center">Edit Pin</h2>
 
<%= form_for @pin, {:class => "form-horizontal center"} do |p|%>
 <div class="container">
   <div class="col-xs-10 col-xs-offset-1">
     
      <div class="form-group">
        <%= p.label :title, class: "col-xs-4 control-label" %>
        <div class="col-xs-8">
          <%= p.text_field :title, class: "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= p.label :url, class: "col-xs-4 control-label" %>
        <div class="col-xs-8">
          <%= p.text_field :url, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= p.label :comment, for: "comment" ,class: "col-xs-4 control-label" %>
        <div class="col-xs-8">
          <%= p.text_area :comment, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= p.label :image, class: "col-xs-4 control-label" %>
        <div class="col-xs-8">
          <%= p.text_field :image, class: "form-control" %>
        </div>
      </div>
      <div>
        <%= p.submit :Update, class: " col-xs-6 btn btn-success btn-block" %>
      </div>
    </div>
  </div>
<%end%>

