<h2 class="text-center">All Pins</h2>
<!-- link to add new pin -->
<div class="container">
  <div class="row">
<% @pins.each do |p|%>
  <div class="col-xs-4">
    <div class="thumbnail">
      <h3 class="text-center"><%= p.title%></h3>
      <%= link_to  p do %>
        <img src="<%= p.image%>" alt="">
      <%end%>
      
    <div class="caption">
      <p>
          <a href="<%= p.url%>">URL</a> 
      </p>
      <p>
        <h5>Comment:</h5> 
          <p><%= p.comment%></p>
      </p>
      <p>
    <!-- What is after the comma -->
      <!-- Why does `show_pin_path(p)` not work?-->
      <!--^^^ because there is not a resource called `show_pin_path`  -->
        
        <span class="btn btn-success btn-inline"><%= link_to "Edit", edit_pin_path(p) %></span>
        <span class="btn btn-danger btn-inline"><%= link_to "Destroy", pin_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </p>
    </div>
    </div>
  </div>
<%end%>
  </div>
</div>